# Ignore build and output directories
/build/
/bin/
/out/
/PlazaScriptCore/obj
/PlazaScriptCore/bin
/lib/
/lib
/lib/assimp-vc143-mtd.lib
lib/assimp-vc143-mtd.lib
/lib/assimp-vc143-mt.lib
*.dir
/pvdruntime_bin
/sdk_source_bin


# Ignore generated assets or logs
/assets/
/logs/

# Ignore Visual Studio files
.vscode/
*.suo
*.user
*.sln
*.vcxproj
*.filters
/.vs
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/enc_temp_folder