# Ignore build and output directories
/build/
/bin/
/out/
/PlazaScriptCore/obj
/PlazaScriptCore/bin
/lib/
/lib/assimp-vc143-mtd.lib
lib/assimp-vc143-mtd.lib
/lib/assimp-vc143-mt.lib

# Ignore generated assets or logs
/assets/
/logs/

# Ignore Visual Studio files
.vscode/
*.suo
*.user
*.sln
/.vs
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
