# Ignore build and output directories
/build/
/bin/
/out/
/PlazaScriptCore/obj
/PlazaScriptCore/bin

# Ignore generated assets or logs
/assets/
/logs/

# Ignore Visual Studio files
.vscode/
*.suo
*.user
*.sln
/.vs
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
